<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>Laborator03</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm  navbar-light border ">
        <% include ./partials/nav.ejs%>
    </nav>
    <main id="main" class="container">
        <% include ./partials/main.ejs%>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>
