@import url('https://fonts.googleapis.com/css?family=Oswald');

/**
Define animation keyframes
 */
@keyframes slidenavAnimation {
    from {
        /*-webkit-transform: scale(0.5);*/
        opacity: 0;
    }
    to {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
}

@-webkit-keyframes slidenavAnimation {
    from {
        /*-webkit-transform: scale(0.5);*/
        opacity: 0;
    }
    to {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
}

.container, .container-fluid {
    font-family: Oswald , sans-serif;
}

/**
Navigation Bar Style + Dropdowns
 */
.dropdown-toggle::after {
    display:none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

    animation-name: slidenavAnimation;
    animation-duration:.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration:.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

.navbar-item {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > li > a {
    color: black !important;
}

.navbar-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown-menu {
    background-color: #e8e8e8 !important;
    margin: 0;
    padding: 0;
}
div.--no-left-padding a.dropdown-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.dropdown-item:hover {
    background-color: transparent;
}

.no-padding {
    padding-left: 0;
}

.no-left-padding {
    padding: 0;
}

.tables-menu, .storage-menu, .learn-menu {
    min-width: 550px;
}

.chairs-menu, .decor-menu {
    min-width: 700px;
}

.sofas-menu, .sectionals-menu {
    min-width: 750px;
}

.bedroom-menu {
    min-width: 800px;
}

.sleeper_sofas-menu {
    min-width: 850px;
}

/**
Introduction Carousel Styling
 */
.section--introduction_carousel {
    margin-top: 20px;
}

.carousel-item-0 {
    background: -webkit-linear-gradient(left, #b5dedc 40%, #b5c9dc 60%);
}

.carousel-item-1 {
    background: -webkit-linear-gradient(45deg, #b873d3 20%, #b8a2d2 80%);
}

.carousel-item-2 {
    background: -webkit-linear-gradient(45deg, #b5cbdd 30%, #b5dedc 60%);
    color: #008ed4;
}

.item-0-col-2, .item-2-col-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-0-col-1, .item-2-col-1 {
    padding-left: 70px;
}

.item-1-col-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-0--text_section > h1, .item-1--text_section > h2, .item-2--text_section > h2 {
    font-weight: bolder;
    color: white;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
}

.item-0--text_section > h5, .item-1--text_section > h6, .item-2--text_section > h6 {
    font-weight: bolder;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
}

.btn-outline-dark {
    border-width: 5px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/**
Introduction Entry Styling
 */
.section--introduction_entry {
    margin-top: 30px;
}

.entry-text {
    background: -webkit-linear-gradient(45deg, #e7caca 30%, #e3aec7 70%);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: right;
    margin-right: -100px;
    margin-left: 50px;
    z-index: 2;
}

.entry--text-container > h1 {
    font-weight: bolder;
    color: white;
}

.entry--text-container > p {
    font-size: small;
}

/**
Customer Reviews Configuration
 */

.section--customer-reviews {
    margin-top: 20px;
}

.costumer-reviews {
    background: #e7e7e8;
}

.review {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.review--wrapper > div:not(:last-child){
    margin-bottom: 20px;
}

.review--title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.review--content {
    font-size: small;
    line-height: 20px;
}

.review--name {
    font-size: 1rem;
}

/**
Banner Configuration
 */

.section--banner {
    background: -webkit-linear-gradient(left, #b5dedc 30%, #b5c8dc 70%);
}

.banner-col {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.banner--image {
    margin-bottom: 15px;
}

.banner--text {
    font-size: larger;
    font-weight: bolder;
}

.banner-wrapper .banner--text {
}

/**
Footer Configuration
 */
.joinTheFamily, .whatWeDo, .customerCare, .findUs {
    text-align: center;
}

.footer-row {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #838384;
}

.footer-row > .col-sm-2 p {
    margin-bottom: 5px;
    font-family: Oswald sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
}

.footer-row > .col-sm-2 h6 {
    font-family: Oswald sans-serif;
    font-weight: bold;
}

.findUs > h5 {
    color: #b4dcdb;
}

.findUs--icon-wrapper > a {
    margin-left: 3px;
    margin-right: 3px;
}

/**
Media Configuration
 */

@media (max-width: 575px) {
    .--collapse-none {
        display: none;
    }

    .no-padding {
        padding-left: 20px;
    }

    .sofas-menu, .sectionals-menu, .sleeper_sofas-menu, .chairs-menu,
    .tables-menu, .storage-menu, .bedroom-menu, .decor-menu, .learn-menu {
        min-width: 100%;
    }

    div.--no-left-padding a.dropdown-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .item-0-col-1, .item-2-col-1 {
        height: 250px;
        padding: 0;
        text-align: center;
    }

    .item-1-col-2 {
        height: 250px;
        text-align: center;
    }

    .item-1--text_section > p {
        font-size: smaller;
    }

    .item-2--text_section > p {
        margin-left: 50px;
        margin-right: 50px;
        font-size: smaller;
    }

    .entry-text {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin-left: 40px;
        margin-right: 20px;
        margin-top: -100px;
        z-index: 2;
    }

    .review {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .banner-col {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .footer-row > .col-sm-2 {
        margin-bottom: 10px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

    .entry-text {
       margin-top: -30px;
    }

    .entry--text-container > h1 {
        font-size: 24px;
    }
}
