@import url('https://fonts.googleapis.com/css?family=Oswald');

/**
Define animation keyframes
 */
@keyframes slidenavAnimation {
    from {
        /*-webkit-transform: scale(0.5);*/
        opacity: 0;
    }
    to {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
}

@-webkit-keyframes slidenavAnimation {
    from {
        /*-webkit-transform: scale(0.5);*/
        opacity: 0;
    }
    to {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
}

/**
Navigation Bar Style + Dropdowns
 */
.dropdown-toggle::after {
    display:none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

    animation-name: slidenavAnimation;
    animation-duration:.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration:.9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

.navbar-item {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > li > a {
    color: black !important;
}

.navbar-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown-menu {
    background-color: #e8e8e8 !important;
    margin: 0;
    padding: 0;
}
div.--no-left-padding a.dropdown-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.dropdown-item:hover {
    background-color: transparent;
}

.no-padding {
    padding-left: 0;
}

.no-left-padding {
    padding: 0;
}

.tables-menu, .storage-menu, .learn-menu {
    min-width: 550px;
}

.chairs-menu, .decor-menu {
    min-width: 700px;
}

.sofas-menu, .sectionals-menu {
    min-width: 750px;
}

.bedroom-menu {
    min-width: 800px;
}

.sleeper_sofas-menu {
    min-width: 850px;
}

/**
Introduction Carousel Styling
 */
.section--introduction_carousel {
    margin-top: 20px;
}

.container {
    font-family: Oswald , sans-serif;
}

.carousel-item-0 {
    background: -webkit-linear-gradient(left, #b5dedc 40%, #b5c9dc 60%);
}

.carousel-item-1 {
    background: -webkit-linear-gradient(45deg, #b873d3 20%, #b8a2d2 80%);
}

.carousel-item-2 {
    background: -webkit-linear-gradient(45deg, #b5cbdd 30%, #b5dedc 60%);
    color: #008ed4;
}

.item-0-col-2, .item-2-col-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-0-col-1, .item-2-col-1 {
    padding-left: 70px;
}

.item-1-col-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-0--text_section > h1, .item-1--text_section > h2, .item-2--text_section > h2 {
    font-weight: bolder;
    color: white;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
}

.item-0--text_section > h5, .item-1--text_section > h6, .item-2--text_section > h6 {
    font-weight: bolder;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
}

.btn-outline-dark {
    border-width: 5px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


/**
Introduction Entry Styling
 */
.section--introduction_entry {
    margin-top: 30px;
}




/**
Media Configuration
 */

@media (max-width: 575px) {
    .--collapse-none {
        display: none;
    }

    .no-padding {
        padding-left: 20px;
    }

    .sofas-menu, .sectionals-menu, .sleeper_sofas-menu, .chairs-menu,
    .tables-menu, .storage-menu, .bedroom-menu, .decor-menu, .learn-menu {
        min-width: 100%;
    }

    div.--no-left-padding a.dropdown-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .item-0-col-1, .item-2-col-1 {
        height: 250px;
        padding: 0;
        text-align: center;
    }

    .item-1-col-2 {
        height: 250px;
        text-align: center;
    }

    .item-1--text_section > p {
        font-size: smaller;
    }

    .item-2--text_section > p {
        margin-left: 50px;
        margin-right: 50px;
        font-size: smaller;
    }
}



