@import url('https://fonts.googleapis.com/css?family=Oswald');

nav {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    padding: 20px;
    background: -webkit-linear-gradient(bottom, #ffffff 70%, #656566 30%);
}

ul {
    margin: 10px;
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    background: -webkit-linear-gradient(left, #b5dedc 40%, #b5c9dc 60%);
    /*background: #b5dedc;*/
    vertical-align: middle;
    padding-left: 100px;
}

.about {
    font-size: 50px;
    font-family: "Calibri", serif;
    font-weight: bold;
    color: #034834;
}

.body {
    padding: 10px;
    padding-top: 0px;
    background: #ffffff;
    overflow: hidden;
}

.sectionAboutUs1 {
    padding: 0 40px;
}

.aboutUs1 {
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
    display: block;
    font-size: 0;
}

.aboutUs1_Image {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: bottom;
    z-index: 2;
}

.aboutUs1_Text {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: top;
    font-family: "Oswald", sans-serif;
}

.aboutUs1_text_wrapper {
    display: block;
    padding: 60px;
    padding-top: 90px;
    /*font-size: 26px;*/
}

.teamImage {
    /*max-height: 100%;*/
}
img {
    margin: 0;
    max-width: 100%;
}

h4 {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2em;
}

.aboutUs1_text_paragraph {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.aboutUs1_text_names {
    margin: 0;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

.aboutUs1_banner {
    width: 96.6vw;
    height: 203px;
    min-width: 1180px;
    position:relative;
    background: #ece7eb;
    margin-top: 120px;
    transform: translateX(-50%);
}


.sectionAboutUs2 {
    padding: 0 40px;
    background: #b6d2dd
}

.aboutUs2 {
    position: relative;
    padding-top: 70px;
    padding-bottom: 30px;
    display: block;
    font-size: 0;
}

.aboutUs2_Image {
    display: inline-block;
    position: relative;
    width: 50%;
    max-height: 800px;
    z-index: 2;
}

.aboutUs2_Text {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: top;
    font-family: "Oswald", sans-serif;
}

.aboutUs2_text_wrapper {
    display: block;
    padding: 0 120px 40px 40px;
    font-size: 20px;
}

.aboutUs2_text_title {
    font-size: 40px;
    letter-spacing: 0.1em;
    margin: 0 20px 30px 0;
}

.aboutUs2_image--furniture {
    max-height: 1180px;
}





